<template>
	<view class="search_wrap">
		<!-- 搜索框 -->
		<home-search :isShow="false" :value="val" :isCancel="true" @confirm="handleConfirm"></home-search>
		<!-- 热门搜索 -->

		<view class="topSearch">
			<view class="topSearch-tit">
				<text>热门搜索</text>
			</view>
			<view class="topSearch-content">
				<view v-if="topData.length === 0" class="topSearch-content-NO">暂无热门搜索</view>
				<view v-else>
					{{topData.length}}
				</view>
			</view>
		</view>
		<!-- 搜索历史 -->
		<view class="search-history">
			<view class="search-history-tit">
				<text>搜索历史</text>
				<image src="../../../static/images/icon/clear-his.png" mode="" @click="dialogToggle('warn')"></image>
			</view>

			<view class="search-storage">
				<text v-for="(item,index) in historyList" :key="index" @click="changeSearch(item)">
					<text class="search-storage-item">{{item}}</text>
				</text>
			</view>
		</view>
		<view>
			<!-- 提示窗示例 -->
			<uni-popup ref="alertDialog" type="dialog">
				<uni-popup-dialog :type="msgType" cancelText="取消" confirmText="确认" title="您确定要删除吗？"
					content="删除当前记录后无法恢复!" @confirm="dialogConfirm" @close="dialogClose"></uni-popup-dialog>
			</uni-popup>
		</view>

	</view>
</template>

<script>
	import {
		debounce
	} from 'lodash'
	import {getTopsearch} from '@/api/home.js'
	export default {
		data() {
			return {
				val: "",
				clickVal: "",
				historyList: uni.getStorageSync('historyList') || [],
				type: 'center',
				msgType: 'success',
				messageText: '这是一条成功提示',
				value: '',
				topData:[]
			}
		},
		async created(){
			let res = await getTopsearch();
			this.topData =res.data;
		},
		mounted() {
			
		},
		methods: {
			handleConfirm(value) {
				console.log(1111111111111);
				// 存储搜索历史记录
				this.saveStorage(value);
				// 1. 跳转到搜索结果页面  搜索页
				uni.navigateTo({
					url: "/searchpkg/pages/searchResult/searchResult?val=" + value
				})
			},
			saveStorage(value) {
				// 1. 如果历史记录里面存在,先把原来的删除,然后再把最新的插入到数组第一个
				// 2. 如果历史记录里面不存在则直接插入到数组第一个
				let ind = this.historyList.findIndex(item => item === value);
				if (ind !== -1) { // 历史记录里面存在
					this.historyList.splice(ind, 1);
				}
				this.historyList.unshift(value);
				uni.setStorageSync('historyList', this.historyList);
			},
			// 点击显示确认框
			dialogToggle(type) {
				this.msgType = type
				this.$refs.alertDialog.open()
			},
			// 点击确认清空历史记录
			dialogConfirm() {
				uni.removeStorageSync('historyList');
				this.historyList = [];
			},
			// 点击取消确认框
			dialogClose() {},

			changeSearch(item) {
				this.clickVal = item;
				console.log(item, 'item');
			}

		}
	}
</script>

<style lang="scss">
	.search_wrap {
		font-size: 12px;
		background-color: #fff;

		.topSearch {
			padding: 10px 10px;
			border-bottom: 1px solid #f3f3f3;

			.topSearch-tit {
				height: 40px;
				display: flex;
				align-items: center;
			}
			.topSearch-content{
				.topSearch-content-NO{
					text-align: center;
				}
			}
		}

		.search-history {
			padding: 0 10px;

			.search-history-tit {
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				image {
					width: 13px;
					height: 13px;
				}
			}

			.search-storage {
				.search-storage-item {
					background: #f2f2f2;
					display: inline-block;
					padding: 5px 10px;
					border-radius: 40%;
					margin: 5px;
				}
			}
		}
	}
</style>
