<template>
	<view class="container">
		<view class="header">
			<image src="../../static/images/icon/logo.png"></image>
		</view>
		<view class="content">
			<view>电商平台</view>
			<view>申请获取你的公开信息(昵称，头像等)</view>
		</view>
		<button class="bottom" type="primary" withCredentials="true" @click="getpostlogin">授权登录</button>
	</view>
</template>

<script>
	import {mapActions,mapState} from 'vuex'
	
	export default {
		name:"my-login",
		data() {
			return {
				
			};
		},
		methods:{
			...mapActions('user',['getToken']),
			getpostlogin(){
				uni.getUserProfile({	//微信授权窗口
					desc:'获取用户授权进行登录',
					success:(res)=> {
						console.log(res,'res授权');
						// 同意授权
						uni.login({
							success:async(res1)=> {
								// console.log(this.getToken({code:res1.code,userInfo:res.userInfo}),'res1');
								// 吧code带到后台 后台给前端返回token、
								await this.getToken({code:res1.code,userInfo:res.userInfo})
								// this.$emit('loginsuccess')	//通知父组件登陆成功 
							}
						}),
						uni.reLaunch({
							url: "/pages/home/home"
						})
					},
					fail:(err)=> {
						if(err){
							uni.showToast({
							  title: "拒绝登录",
							});
							uni.reLaunch({
								url: "/pages/home/home"
							})
							console.log(err,'err');
						}
						
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		background-color: #fff;
		flex-direction: column;
	}
	
	.header {
		border-bottom: 1px solid #eee;
		text-align: center;
		width: 100%;
		height: 300rpx;
		line-height: 450rpx;
	}
	
	.header image {
		text-align: center;
		width: 200rpx;
		height: 200rpx;
	}
	
	.content {
		text-align: center;
		font-size: 30rpx;
		line-height: 30px;
	}
	
	
	.bottom {
		border-radius: 80rpx;
		margin: 70rpx 50rpx;
		font-size: 35rpx;
	}
</style>
