<template>
	<view class="infoDetails">
		<view class="infoDetails-title">{{infoList.title}}</view>
		<view style="padding: 0 10px;">
				<rich-text :nodes="htmlText"></rich-text>
		</view>
	
	</view>
</template>

<script>
	import {
		getTopNoticeListInfo
	} from '@/api/home.js'
	export default {
		data() {
			return {
				id: 0,
				infoList: [],
				htmlText:{}
			};
		},
		mounted() {
			getTopNoticeListInfo(this.id).then(res => {
				this.infoList = res.data;
				this.htmlText = this.richText(res.data.content);
			});
		},
		methods:{
			richText(html) {
				let htmls = html.replace(/width=/gi, 'sss=')
				.replace(/height=/gi, 'sss=')
				.replace(/ \/\>/gi,	' style="width:100% !important;display:block;" \/\>');
				return htmls;
			},
		},
		onLoad(options) {
			this.id = Number(options.id);
		}
	}
</script>

<style lang="scss">
	.infoDetails {
		width: 100%;
		

		.infoDetails-title {
			padding: 10px 0 10px 10px;
			font-weight: bold;
			font-size: 14px;
			
		}
	}
</style>
