<script>
	export default {
		onLaunch: function() {
			console.warn('当前组件仅支持 uni_modules 目录结构 ，请升级 HBuilderX 到 3.1.0 版本以上！')
			console.log('App Launch')
			// token标志来判断

			// let token = uni.getStorageSync('access_token');
			// // console.log(token);
			// if (!token) {
			// 	console.log('无token');
			// 	uni.reLaunch({
			// 	    url:'/pages/login/login'
			// 	})
			// } else {
			// 	console.log('有token');
			// 	uni.switchTab({
			// 		url: '/pages/home/home'
			// 	})
			// }

		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
	}
</script>


<style lang="scss">
	/*每个页面公共css */
	@import '@/uni_modules/uni-scss/index.scss';
	/* #ifndef APP-NVUE */
	@import '@/static/customicons.css';
	/* vant*/



	// 设置整个项目的背景色
	page {
		background-color: #f5f5f5;
		height: 100%;
		width: 100%;
	}

	uni-page-wrapper {
		height: 100%;
		width: 100%;
	}

	uni-page-body {
		height: 100%;
		width: 100%;
	}

	/* #endif */
	.example-info {
		font-size: 14px;
		color: #333;
		padding: 10px;
	}
</style>
