<template>
	<view class="search_wrap">
		<view class='search-top' v-if="isShow" @click="toSearchPage">
			<image src='../../static/images/icon/search.png' class='search-img'></image>
			<text>搜索</text>
		</view>
		<view v-else style="border-bottom: 1px solid #ccc;">
			<uni-search-bar @confirm="search" :value="val" :cancelButton="isCancel?'auto':'none'" :focus="true"
				radius="20" @focus="focus" @input="input" @cancel="cancel" @clear="clear">
			</uni-search-bar>
		</view>
	</view>
</template>

<script>
	export default {
		name: "home-search",
		props: {
			isShow: {
				type: Boolean,
				default: false
			},
			val: {
				type: String,
				default: ""
			},
			isCancel: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				searchValue: ''
			};
		},
		methods: {
			// 跳转搜索页面
			toSearchPage() {
				uni.navigateTo({
					url: "../../searchpkg/pages/search/search"
				})
			},
			// 搜索
			search({
				value
			}) { // 点击完成
				this.$emit('confirm', value);
				// 2. 搜索结果页面  点击完成的时候要发请求
			},
			input(res) {},
			clear(res) {
				// uni.showToast({
				// 	title: 'clear事件，清除值为：' + res.value,
				// 	icon: 'none'
				// })
			},
			focus(e) {

			},
			cancel(res) {
				uni.navigateBack({
					delta: 1
				})
			}
		}
	}
</script>

<style lang="scss">
	.search_wrap {
		position: sticky;
		top: 0;
		z-index: 100;
		background-color: #fff;
		padding: 5px 0 10px 0;

		.search-top {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #f7f7f7;
			height: 60rpx;
			z-index: 1;
			border-radius: 50rpx;
			width: 92%;
			margin: auto;

			.search-img {
				width: 32rpx;
				height: 32rpx;
				margin-right: 10rpx;
			}
		}
	}
</style>
