<template>
	<view>
		<my-login></my-login>
	</view>
</template>

<script>
	
	export default {
		data() {
			return {

			};
		},
		methods: {
			
		},
	}
</script>

<style lang="scss" scoped>
	
</style>