<template>
	<view class="home-swiper">
		<view class="home-swiper">
			<uni-swiper-dot class="uni-swiper-dot-box" @clickItem=clickItem :info="imgList" :current="current"
				:mode="mode" :dots-styles="dotsStyles">
				<swiper autoplay='true' duration='1000' class="swiper-box" @change="change">
					<swiper-item v-for="(item, index) in imgList" :key="index">
						<img :src="(item.imgUrl)" alt="">
					</swiper-item>
				</swiper>
			</uni-swiper-dot>
		</view>
	</view>

</template>

<script>
	export default {
		name: "home-swiper",
		props: {
			imgList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				current: 0,
				mode: 'round',
				dotsStyles: {
					backgroundColor: '#fff',
					border: '1px rgba(83, 200, 249,0.3) solid',
					color: '#fff',
					selectedBackgroundColor: 'rgba(83, 200, 249,0.9)',
					selectedBorder: '1px rgba(83, 200, 249,0.9) solid',
				},
				current: 0
			};
		},
		mounted() {
			console.log(this.imgList, 'imgList');
		},
		methods: {
			change(e) {
				this.current = e.detail.current
			},
			// 点击图片跳详情
			toDetailsPage(seq) {
				// uni.navigateTo({
				// 	url:"../../detailpkg/pages/detail/detail?prodId=" + seq
				// })
			}
		}
	}
</script>

<style lang="scss">
	.home-swiper {
		padding: 0 5px;

		.swiper-box {
			height: 170px;

			swiper-item {
				box-shadow: 5px 5px 15px #ccc;

				img {
					width: 100%;
					height: 100%;
					box-shadow: 5px 5px 15px #ccc;
				}
			}
		}
	}
</style>
