
<template>
	<view class="classifyBox">
		       <home-search :isShow="isShow" :isCancel="isCancel"></home-search>
				
	               <view class="classBox">
					   <view class="classifyLeft">
					   	 <scroll-view scroll-y="true" scroll-with-animation="true">
					   		 <view v-for="(item,index) in tabList" :key="item.id" class="tab-left">
					   		 	<view :class="{'active':isActive==index}" @click="chenked(index)">
					   		 	<span class='activeLine'>丨</span> {{item.namelist}}
					   			</view>
					   		 </view>
					   	 </scroll-view>
					   </view>
					   
					    <view class="classifyRight">
					       <scroll-view scroll-y="true">
					   		<view v-for="(item, index) in list" :key="item.prodId" v-show="isActive==0">
								<img src="https://img.mall4j.com/2019/04/4f148d81d60941b695cb77370a073653.jpg" alt="" class='ImgTp'>
					   			<view class="Tpbox" @click="goToDetail(item.prodId)">
					   				<img :src="item.pic" alt="" class='TpImg'>
					   				<view class="TpImgBox">
					   					<p class='ptitle'>{{item.prodName}}</p>
					   					<span class='briefbox'>{{item.brief}}</span>
										<p class='pricebox'>¥{{item.price}}</p>
					   				</view>
					   			</view>
					   		</view>
					   		<view v-for="(item, index) in listone" :key="item.prodId" v-show="isActive==1">
								<img src="https://img.mall4j.com/2019/04/84f1a591a9ed46f68d46eee55c130b34.jpg" alt="" class='ImgTp'>
					   		<view class="Tpbox" @click="goToDetail(item.prodId)">
					   			<img :src="item.pic" alt="" class='TpImg'>
					   			<view class="TpImgBox">
					   				<p class='ptitle'>{{item.prodName}}</p>
					   				<span class='briefbox'>{{item.brief}}</span>
					   				<p class='pricebox'>¥{{item.price}}</p>
					   			</view>
					   		</view>
					   		</view>
					   		<view  :key="item.prodId" v-show="isActive==2">
								<img src="https://img.mall4j.com/2019/04/68f081f04c2644319d882a8828f4741c.jpg" alt="" class='ImgTp'>
					   		
					   		</view>
								
					   		<view  v-show="isActive==3">
								<img src="https://img.mall4j.com/2019/04/3483eafc86674a74bcf9da6100769a9a.jpg" alt="" class='ImgTp'>
								<view class="Tpbox" v-for="(item, index) in listsi" :key="item.prodId" @click="goToDetail(item.prodId)">
									<img :src="item.pic" alt="" class='TpImg'>
									<view class="TpImgBox">
										<p class='ptitle'>{{item.prodName}}</p>
										<span class='briefbox'>{{item.brief}}</span>
										<p class='pricebox'>¥{{item.price}}</p>
									</view>
								</view>
					   		</view>
					   	</scroll-view>
					   				
					     </view>
				   </view>
	</view>
</template>

<script>
	import {categoryId} from '@/api/classify.js'
	export default {
		data() {
			return {
				tabList:[
					{
					id:1,
					namelist:'手机数码'
				},
				{
					id:2,
					namelist:'美妆护肤'
				},
				{
					id:3,
					namelist:'运动服饰'
				},
				{
					id:4,
					namelist:'美味零食'
				},
				],
				isActive:0,
				list:[],
				listone:[],
				listhess:[],
				listsi:[],
				isShow: true,
				isCancel: true,
			};
		},
		async created(){
			let res=await categoryId({
				url:'/prod/pageProd?categoryId=85'
			})
			this.list=res.data.records;
			
			let reslist=await categoryId({
				url:'/prod/pageProd?categoryId=87'
			})
			
			this.listone=reslist.data.records;
			// console.log(listone,'0000');
			
			let reshess=await categoryId({
				url:'/prod/pageProd?categoryId=88'
			})
			// console.log(reshess);
			this.listhess=reshess.data.records;
			
			let resi=await categoryId({
				url:'/prod/pageProd?categoryId=95'
			})
			
			this.listsi=resi.data.records;
			console.log(resi.data.records,'0000000');
		},
		methods:{
			chenked(index){
				this.isActive=index;
			},
			goToDetail(prodId){
				console.log(prodId,'1111');
				uni.navigateTo({
					url:`/detailpkg/pages/detail/detail?prodId=${prodId}`
				})
			}
		}
	
	}
</script>

<style lang="scss">
	.active{
		background: #FFF;
		color: red;
		.activeLine{
			background: red;
			
		}
	}
.classifyBox{
	width: 100%;
	height: 100%;

	.tab-left{
		padding: 10px;
		text-align: center;
		height: 30px;
	}
}
.classBox{
	display: flex;
	.classifyLeft{
		width: 30%;
		background: #F5F6F7;
		.activeLine{
			width: 5px;
			height: 20px;
			color: #F5F6F7;
			font-weight: 400;
			margin-right: 20px;
		}
	}
	.classifyRight{
		width: 70%;
		.ImgTp{width: 95%;height: 80px;padding: 10px;}
		.ImgTp img{width: 100%;height: 80px;}
		.Tpbox{
			display: flex;
			.TpImg{width: 35%;height: 80px;margin-right: 10px;}
			.TpImgBox{width: 65%;}
			//单行文字溢出显示省略号
			.ptitle{font-size: 16px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
			.briefbox{font-size: 11px;color: #B4B4B4;}
			.pricebox{color:red;font-size: 18px}
			
		}
	}
}
</style>
