<template>
	<view class="search-result">
		<view class="search-top">
			<view>
				<home-search :isShow="false" :val="val" :isCancel="false" @confirm="handleConfirm"></home-search>
			</view>
			<image
				:src="classType?'../../../static/images/icon/search-col2.png':'../../../static/images/icon/search-col.png'"
				mode="" @click="switchClass"></image>
		</view>
		<view class="search-nav">
			<text :class="ind === index?'active':''" v-for="(item,index) in navList" :key="index"
				@click="changeNav(item.index)">{{item.tit}}</text>
		</view>
		<view class="search-content">
			<view v-if="showText" class="noData">— 暂无数据 —</view>
			<view v-else :class="classType?'search-content-zh':'search-content-zhTwo'">
				<view v-for="(item,index) in searchProdList" :key="item.prodId" class="item"
					@click="toDetailsPage(item.prodId)">
					<view class="item-pic">
						<image :src="(item.pic)" mode=""></image>
					</view>
					<view class="item-right">
						<view>{{item.prodName}}</view>
						<view>
							<text>{{item.praiseNumber}}好评</text>
							<text>{{item.prodCommNumber}}%好评</text>
						</view>
						<view>￥{{item.price}}</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getSearchProd
	} from '@/api/home.js'
	export default {
		data() {
			return {
				val: "",
				classType: true,
				navList: [{
						tit: "综合",
						index: 0
					},
					{
						tit: "销量",
						index: 1
					},
					{
						tit: "价格",
						index: 2
					}
				],
				ind: 0,
				params: {
					current: 1,
					size: 10,
					prodName: "",
					sort: 0
				},
				searchVal: "",
				searchProdList: [],
				showText: false
			};
		},
		mounted() {
			// 进入页面初始搜索
			this.getSearchProd(this.params.prodName);
		},
		methods: {
			// 封装 调搜索接口方法
			async getSearchProd(value, index) {
				let res = await getSearchProd({
					...this.params,
					prodName: value,
				});
				this.searchProdList = res.data.records;
			},
			handleConfirm(value) {
				this.searchVal = value;
				console.log(value, '搜索结果页面');
				if (value) {
					this.showText = false;
					this.getSearchProd(value);
				} else {
					this.showText = true;
				}

			},
			// 点击切换列表布局
			switchClass() {
				this.classType = !this.classType;
			},
			// 封装 调搜索接口方法
			async getSearchProdSort(index) {
				let res = await getSearchProd({
					...this.params,
					prodName: this.searchVal || this.params.prodName,
					sort: index
				});
				this.searchProdList = res.data.records;
			},
			// 切换nav
			changeNav(index) {
				this.ind = index;
				this.getSearchProdSort(index);
			},
			// 跳转详情页
			toDetailsPage(prodId) {
				uni.navigateTo({
					url: "/detailpkg/pages/detail/detail?prodId=" + prodId
				})
			}
		},
		onLoad(options) {
			console.log(options, 'options');
			this.val = options.val;
			this.params.prodName = options.val;
		}
	}
</script>

<style lang="scss">
	.search-result {
		font-size: 12px;
		height: 100%;
		background-color: #fff;
		.search-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #fff;
			padding: 0 10px;

			image {
				width: 17px;
				height: 17px;
			}
		}

		.search-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #fff;
			padding: 0 10px;

			text {
				width: 33%;
				text-align: center;
				display: inline-block;
				padding: 10px 0;
			}
		}

		.search-content {
			padding: 0 10px;

			.noData {
				height: 40px;
				text-align: center;
				line-height: 40px;
				background-color: #fff;
				
			}

			.search-content-zh {
				margin-top: 10px;

				.item {
					display: flex;
					background-color: #fff;
					box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
					border-radius: 5px;
					padding: 10px 0;
					margin-bottom: 10px;

					.item-pic {
						width: 70px;
						height: 72px;
						margin-right: 10px;
						padding-left: 10px;

						image {
							width: 70px;
							height: 72px;
						}
					}

					.item-right {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						padding: 10px 0;

						view:nth-child(2) {
							color: #777;
							font-size: 10px;
						}

						view:nth-child(3) {
							color: red;
						}
					}
				}


			}

			.search-content-zhTwo {
				margin-top: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.item {
					width: 45%;
					background-color: #fff;
					padding: 5px;
					margin-bottom: 10px;

					.item-pic {
						width: 135px;
						height: 135px;

						margin-bottom: 10px;

						image {
							width: 135px;
							height: 135px;
						}
					}

					.item-right {
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						view:nth-child(1) {
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}

						view:nth-child(2) {
							color: #777;
							font-size: 10px;
						}

						view:nth-child(3) {
							color: red;
						}
					}

				}
			}
		}

		.active {
			color: red;
		}
	}
</style>
