<template>
	<view class="order_List">
		<view class="tab_nav">
			<view class="navTitle" v-for="(item,index) in navList" :key="index" >
				<view :class="{'active':isActive == index}" @click="checked(index)">
					{{item.title}}
				</view>
			</view>
		</view>
		<view class="nav_item">
			<view class="list" v-if="navList[isActive].children.length">
				<dl v-for="(item,index) in navList[isActive].children" :key="index">
					<dt>
						<img :src="item.pic" alt="">
					</dt>
					<dd>
						{{item.prodName}}
					</dd>
					<view class="price">
						<p>
							<span>￥</span>
							<span>{{item.price}}</span>
							<span> .00</span>
						</p>
					</view>
				</dl>
			</view>
			<text v-else>还没有任何相关订单</text>
		</view>
	</view>
</template>

<script>
	import {orderList,getinit} from '../../../api/orderlist.js';
	export default {
		data() {
			return {
				xb:0,
				isActive: 0,
				// orderList:[],
				navList:[
					{
						status: 0,
						title: '全部',
						children:[]
					},{
						status: 1,
						title: "待支付",
						children:[]
					},{
						status: 2,
						title: "待发货",
						children:[]
					},{
						status: 3,
						title: "待收货",
						children:[]
					},{
						status: 5,
						title: "已完成",
						children:[]
					}
				]
			};
		},
		mounted() {
			// console.log(this.isActive,this.xb,'tshis.isActive');
		},
		
		async onLoad(option){
		    // console.log(option,'options')
			
		    this.isActive = option.xb;
			this.xb = option.xb;
			let params = {current:'1', size:'10',status:this.xb}
			let list = await orderList(params);
			// console.log(list.data.records[0].orderItemDtos,'listlist');
			this.navList[option.xb].children = list.data.records[0].orderItemDtos;
			// console.log(this.orderList);
			// console.log();
			uni.setStorageSync('text',JSON.stringify(this.navList[this.isActive].children.length) )
		},
		methods: {
			// 点击进行切换
			async checked(index) {
				this.isActive = index;
				let params = {current:'1', size:'10',status:index};
				let list1 = await getinit(params);
				// console.log(list1,'list1');
				this.navList[index].children = list1.data.records[0]?.orderItemDtos;
				// console.log(this.navList[index].children);
			},
			// 跳详情
			// toDetails(prodId) {
			// 	uni.navigateTo({
			// 		// url: "../../detailpkg/pages/detail/detail?prodId=" + prodId
			// 		url: "../detail/detail?prodName="+ this.orderList.prodName
			// 	})
			// }
		}
		
	}
</script>

<style lang="scss">
	page{
		height: 100%;
		width: 100%;
		.order_List{
			height: 100%;
			width: 100%;
		}
	}
	.tab_nav{
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
	}
	.tab_nav  .navTitle {
		height: 90rpx;
		line-height: 90rpx;
		width: 100%;
		text-align: center;
		font-size: 32rpx;
		font-family: Alibaba PuHuiTi;
		color: #333;
	}
	.active {
		position: relative;
		color: red;
	}
	.active::after {
		content: "";
		position: absolute;
		width: 100rpx;
		height: 4rpx;
		background-color: red;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: auto;
	}
	.nav_item{
		height: 100%;
		width: 100%;
		display: flex;
		margin-top: 10px;
		color: #ccc;
		.list{
			height: 100%;
			width: 100%;
			display: flex;
			margin-top: 10px;
			color: #ccc;
		}
		text{
			margin: 3rem auto;
		}
		dl {
			width: 47%;
			height: 240px;
			position: relative;
			margin-left: 10px;
			dt img {
				width: 100%;
				height: 170px;
			}
			dd {
				width: 100%;
				height: 40px;
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.price {
				width: 100%;
				height: 20px;
				position: absolute;
				bottom: 0;
				color: red;
		
				span:nth-of-type(1) {
					display: inline-block;
					font-size: 12px;
				}
		
				span:nth-of-type(1) {
					display: inline-block;
					font-size: 12px;
				}
		
				span:nth-of-type(2) {
					display: inline-block;
					font-size: 16px;
					margin-right: 3px;
				}
		
				span:nth-of-type(3) {
					display: inline-block;
					font-size: 12px;
				}
			}
		}
	}
</style>
