<template>
	<view class="daily_wrap">
		<view class="content-shopMall-list">
			<view class="shopMall-list-item" v-for="(item,index) in list" :key="item.prodId"
				@click="toDetails(item.prodId)">
				<image :src="(item.pic)" style="width: 145px;height: 145px;margin-bottom: 10px;"></image>
				<view style="padding-left: 5px;">
					<view class="item-name">{{item.prodName}}</view>
					<view class="describe">{{item.brief}}</view>
					<view class="item-price">
						<text>￥{{item.price}}</text>
						<image src="../../static/images/tabbar/basket-sel.png" mode=""></image>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getProdListByTagIdThree,
		prodTagList
	} from '@/api/home.js'
	export default {
		data() {
			return {
				list: []
			};
		},
		async created() {
			let res = await getProdListByTagIdThree({
				tagId: 1,
				size: 11,
			});
			this.list = res.data.records;
			let res1 = await prodTagList();
			console.log(res1,'res1--------');
		},
		methods:{
			// 跳详情
			toDetails(prodId){
				uni.navigateTo({
					url:"../../../detailpkg/pages/detail/detail?prodId="+prodId
				})
			}
		}
	}
</script>

<style lang="scss">
	.daily_wrap{
		padding: 0 10px;
		font-size: 12px;
		.content-shopMall-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		
			.shopMall-list-item {
				width: 48%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 10px;
				margin-bottom: 10px;
				box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
			background-color: #fff;
				.describe {
					font-size: 10px;
					color: #999;
				}
		
				.item-name {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
		
				.item-price {
					display: flex;
					justify-content: space-between;
					align-items: center;
		
					text {
						color: red;
					}
		
					image {
						width: 20px;
						height: 20px;
					}
				}
		
			}
		}
	}
	
</style>
