<template>
	<view>
		<div class='fail_order'>
			<p class='fail_order_fistP'> 支付失败 </p>
			<p class='fail_order_sendP'>请在 <span class='fail_order_sendspan'>30分钟</span> 内完成支付<br>否则订单会被系统取消</p>
			<p class='fail_order_threeP'>
				<button class='fail_order_firtbutton'>查看订单</button>&emsp;
				<button class='fail_order_senbutton'>重新支付</button>
			</p>
		</div>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="scss" scoped>
.fail_order{
	width: 600rpx;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.fail_order_fistP{
	color: #eb2444;
}
.fail_order_sendP{
	margin-top: 10px;
	font-size: 12px;
	width: 250px;
	color: #808080 ;
	text-align: center;
	// display: flex;
}
.fail_order_sendspan {
	color: #eb2444;
}
.fail_order_threeP{
	margin-top: 10px;
	width: 500rpx;
	display: flex;
	justify-content: space-between;
	font-size: 12px
}
.fail_order_firtbutton{
	color: #fff;
	font-size: 12px;
	background-color: #2e8b57 ;
	height: 30px;
}
.fail_order_senbutton{
	height: 30px;
	color: #ffa500 ;
	font-size: 12px;
	// background-color: #ffa500  ;
	border: 1px solid #ffa500;
	
	}
</style>
