<template>
	<view class="my_box">
		<view class="personal_information" v-if="token">
			<view class="avatarUrl">
				<open-data type="userAvatarUrl"></open-data>
			</view>
			<view class="user_name">
				<text class="useranme">{{nickName}}</text>
			</view>
		</view>
		<view class="personal_information" v-else>
			<view class="avatarUrl"></view>
			<view class="user_name">
				<text class="useranme" @click="gologin">立即登录</text>
			</view>
		</view>
		<view class="text-box" scroll-y="true">
			<text class="header_title">{{text}}</text>
			<text class="binding" @click="binding"> 去绑定</text>
		</view>
		<view class="my_oeder">
			<view class="order_header">
				<text>我的订单</text>
				<view class="header_all">
					<text @click="lookAll(-1)">查看全部</text>
					<img src="../../static/images/icon/more.png" alt="">
				</view>
			</view>
			<view class="order_List">
				<view class="List_items" v-for="item,index in orderList" :key="index"  @click="lookAll(index)">
					<view class="item" v-if="item.status===2">
						<uni-badge class="uni-badge-left-margin" :text="num"  absolute="rightTop" :offset="[-3, -3]" >
							<image :src="item.img" />
						</uni-badge>
						<text>{{item.text}}</text>
					</view>
					<view class="item" v-else>
						<image :src="item.img" />
						<text>{{item.text}}</text>
					</view>
				</view>
			</view>
		</view>
		<view class="my_classify">
			<view class="classify_items" v-for="item,index in classifyList" :key="index" @click="myMessage(index)">
				<image :src="item.img" alt="">
				<text>{{item.text}}</text>
			</view>
		</view>
		<view class="set_list">
			<view class="receiver_address" @click="address">
				<view class="address_left">
					<img src="../../static/images/icon/myAddr.png"/>
					<text>收货地址</text>
				</view>
				<img src="../../static/images/icon/more.png" alt="">
			</view>
			<button type="warn" class="backlogin" @click="outlogin"  v-if="token">退出登录</button>
		</view>
	</view>
</template>

<script>
	import {myOrder} from '../../api/my.js'
	import {mapMutations} from 'vuex'
	export default {
		data() {
			return {
				text:'绑定手机号后可查看订单和领取优惠券,',
				nickName:'名字',
				avatarUrl:'',
				token:'',
				num:0,
				orderList:[
					{
						img:'../../static/images/icon/toPay.png',
						text:'待支付',
						status:2,
						
					},
					{
						img:'../../static/images/icon/toDelivery.png',
						text:'待发货',
						status:3,
					},
					{
						img:'../../static/images/icon/toTake.png',
						text:'待收货',
						status:4,
					},
					{
						img:'../../static/images/icon/toComment.png',
						text:'已完成',
						status:5,
					},
				],
				classifyList:[
					{
						img:'../../static/c1.png',
						text:'我的收藏'
					},
					{
						img:'../../static/c2.png',
						text:'我的消息'
					},
					{
						img:'../../static/c3.png',
						text:'我的足迹'
					},
					{
						img:'../../static/c4.png',
						text:'我的积分'
					},
				]
			};
		},
		mounted(){
			let number = uni.getStorageSync('text')
			this.num = number;
			let flag=true;
			let userinfo = uni.getStorageSync('userInfo')
			let token = uni.getStorageSync('access_token')
			// console.log(userinfo,'userinfo');
			this.nickName = userinfo.nickName;
			this.avatarUrl = userinfo.avatarUrl;
			this.token = token;
			// console.log('名字',this.nickName,this.avatarUrl,token);
		},
		methods:{
			...mapMutations('user',['removeStorage']),
			lookAll(index){
				// console.log('我是啥看全部',index);
				let count = 0;
				count = index+1;
				// 跳转到订单列表页
				if(index<0){
					console.log('222');
					count=0
				}
				uni.navigateTo({
					url: "./../../orderListpkg/pages/orderList/orderList?xb="+count
				})
			},
			//点击我的收藏 那栏
			myMessage(index){
				//点击我的收藏跳转
				// console.log(index,'123')
				if(index===0){
					uni.navigateTo({
						url:'../../detailpkg/pages/collection/collection'
					})
				}
			},
			binding(){
				// console.log('跳转到绑定手机号页面');
				// 跳转到绑定手机号页面
				uni.navigateTo({
					url:'../../bindingpkg/pages/binding/binding'
				})
			},
			address(){
				// 跳转到收货地址也
				uni.navigateTo({
					url:'../../shippingaddresspkg/pages/shippingaddress/shippingaddress'
				})
			},
			// 退出登录
			outlogin(){
				console.log('退出登录');
				this.removeStorage();
				let token = uni.getStorageSync('access_token');
				if (!token) {
					// console.log('无token');
					uni.reLaunch({
					    url:'/pages/login/login'
					})
				}
			},
			// 条到登录页
			gologin(){
					uni.reLaunch({
					    url:'/pages/login/login'
					})
			}
		}
	}
</script>

<style lang="scss">
	.my_box{
		height: 100%;
		width: 100%;
		background: #efefef;
		.personal_information{
			height: 9rem;
			width: 100%;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			.avatarUrl {
			  overflow: hidden;
			  display: block;
			  width: 5rem;
			  height: 5rem;
			  border-radius: 50%;
			  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
			  margin: 10px auto;
			}
			// .user_name{
			// 	margin-top: -10px;
			// }
		}
		.text-box{
			height: 2rem;
			width: 100%;
			background: #fff;
			padding-left: 10px;
			border-top: 1px solid #efefef;
			display: flex;
			align-items: center;
			text{
				font-size: 12px;
			}
			.binding{
				color: red;
			}
		}
		.my_oeder{
			height: 7rem;
			width: 100%;
			background: #fff;
			margin-top: 0.7rem;
			.order_header{
				height: 2rem;
				width: 100%;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-left: 0.5rem;
				.header_all{
					padding-right: 1rem;
					color: #ccc;
					font-size: 10px;
				}
				img{
					height: 10px;
					width: 10px;
				}
			}
			.order_List{
				height: calc(100% - 2rem);
				width: 100%;
				display: flex;
				justify-content: space-between;
				.List_items{
					height: 100%;
					width: 30%;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 10px;
					.item{
						display: flex;
						align-items: center;
						flex-direction: column;
						image{
							height: 2rem;
							width: 2rem;
						}
						text{
							margin-top: 5px;
							font-size: 12px;
						}
					}
					
				}
			}
		}
		.my_classify{
			height: 4rem;
			width: 100%;
			background: #fff;
			margin-top: 0.7rem;
			display: flex;
			// line-height: 80px;
			justify-content: space-between;
			.classify_items{
				height: 100%;
				width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 0.5rem;
				image{
					height: 1.5rem;
					width: 1.5rem;
				}
				text{
					margin-top: 5px;
					font-size: 13px;
				}
			}
		}
		.set_list{
			width: 100%;
			margin-top: 0.7rem;
			.receiver_address{
				height: 2.3rem;
				width: 100%;
				background: #fff;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.address_left{
					display: flex;
					justify-content: space-between;
					padding-left: 10px;
					img{
						height: 1.2rem;
						width: 1.2rem;
					}
					text{
						font-size: 14px;
					}
				}
				img{
					height: 1rem;
					width: 1rem;
					padding-right: 10px;
				}
			}
			.backlogin{
				margin-top: 0.7rem;
				font-size: 14px;
				width: 45%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
</style>



 