<template>
	<view class="collect">
		<dl v-if="without" v-for="(item,index) in collectList" :key="item.prodId" @click="toDetails(item.prodId)">
			<dt>
				<img :src="item.pic" alt="">
			</dt>
			<dd>
				{{item.prodName}}
			</dd>
			<view class="price">
				<p>
					<span>￥</span>
					<span>{{item.price}}</span>
					<span> .00</span>
				</p>
			</view>
		</dl>
		<p class='without' v-if="!without">暂无商品</p>
	</view>
</template>

<script>
	import {
		getCollectlist
	} from '@/api/detail.js';
	export default {
		data() {
			return {
				collectList: [],
				without:true
			};
		},
		async created() {
			let res = await getCollectlist();
			this.collectList = res.data.records,
			console.log(this.collectList.length,'---')
			if(this.collectList.length===0){
				this.without=false
			}
		},
		methods: {
			// 跳详情
			toDetails(prodId) {
				uni.navigateTo({
					// url: "../../detailpkg/pages/detail/detail?prodId=" + prodId
					url: "../detail/detail?prodId="+ prodId
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.collect {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 60px;
		background-color: #fff;
		.without{
			margin: 0 auto;
			font-size: 12px;
			margin-top: -20px;
			color:#969696;
		}
		dl {
			width: 47%;
			height: 240px;
			position: relative;
			margin-left: 7px;
			dt img {
				width: 100%;
				height: 170px;
			}
			dd {
				width: 100%;
				height: 40px;
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.price {
				width: 100%;
				height: 20px;
				position: absolute;
				bottom: 0;
				color: red;

				span:nth-of-type(1) {
					display: inline-block;
					font-size: 12px;
				}

				span:nth-of-type(1) {
					display: inline-block;
					font-size: 12px;
				}

				span:nth-of-type(2) {
					display: inline-block;
					font-size: 16px;
					margin-right: 3px;
				}

				span:nth-of-type(3) {
					display: inline-block;
					font-size: 12px;
				}
			}
		}
	}
</style>
