<template>
	<view class="handView">
		<div class='handShopcarListTotabl'>
			<div v-if="shopcar" class='handeshop'>
				<dl class='handDl' v-for="item in shopcar" :key="item.basketId">
					<dd>
						<checkbox :value="Allcheckbox.includes(item.basketId)" class="handcheckbox"
							@click="checkDan(item)" />
					</dd>
					<dt>
						<img class='handimg' :src="item.pic" alt="">
					</dt>
					<dd class='handdd'>
						<text class="chat-custom-text">{{item.prodName}}</text>
						<view class="handode">
							<text class="handtext">${{item.price}}</text>
							<view class="handAddLow">
								<p class='shopcarLow' @click='handShopcarLow(item)'> — </p>
								<input type="text" :value="item.prodCount" disabled class="shopcarinput">
								<uni-icons type="plusempty" size="15" @click='handShopcarAdd(item)' class='shopcarAdd'>
								</uni-icons>
							</view>
						</view>
					</dd>
				</dl>
			</div>

			<div v-else>您还没有添加任何商品哦~</div>
		</div>
		
		<!-- 脚步 -->
		<div class='handfooter'>
			<p class="handcheckboxAll">
				<checkbox value="cb" @click="handShopCheckbox" :checked="AllChecked" /> 全选
			</p>
			<p class='handFooterdel' @click='handClearDel'><span>删除</span></p>
			<p class='handHeji'>合计：<span>￥{{totalMoney}}</span></p>
			<button class="handFooterButton" @click="handShopcarClose">结算</button>
		</div>
	</view>
</template>

<script>
	import {
		prodTagList,
		Addcount, //购物车加加
		Shopcarcheck,
		shopcarAdd, //加加
		ShopcarTotab, //全选
		ShopcarDelete, //购物车删除
		ShopcarOrder_Form, //提交订单
		
	} from '../../api/shopcar.js'
	import {
		mapState,
		mapMutations,
		mapActions
	} from 'vuex';
	import TotalMixins from "@/mixins/index.js"; //直播徽标
	export default {
		data() {
			return {
				shopcar: [],
				// 请求状态识别变量
				timer: null,
				flag: false,
				AllChecked: false,
				count: 0,
				finalMoney: 0,
				subtractMoney: 0,
				totalMoney: 0,
				Allcheckbox: [], //传的参数的数组
				shopCartOrder: [], //order——sumbit 提交订单
				shopId:null
			};
		},
		mixins: [TotalMixins], //直播徽标

		//计算属性
		computed: {
			//展开运算符，把...后边的这个对象循环遍历放在这个新的对象里面
			...mapState("toshop", ['total'])
		},
		watch: {
			// total: {
			// 	handler: function(newval, oldval) {
			// 		this.options[1].info = newval;
			// 	},
			// 	immeditate: true
			// }
		},
		methods: {
			...mapMutations("toshop", ['changeTotal', 'minusTatal']),
			...mapActions('user', ['isLogin']),
			//handShopcarLow 减减
			async handShopcarLow(item) {

				const shopress = await shopcarAdd({
					count: -1,
					prodId: item.prodId,
					shopId: item.shopId,
					skuId: item.skuId,
				});
				this.getinit()
				//防抖
				// clearTimeout(this.timer) //清除延时器
				// this.timer = setTimeout(() => { //重新开启新的延时器
				// console.log('请求接口', res)
				//改变数据中的prodCount值
				// item.prodCount = this.total;
				// if (item.prodCount > 1) {
				// 	this.minusTatal();
				// } else {
				// 	this.total = 1;
				// 	uni.showToast({
				// 		title: '不能再减啦',
				// 		duration: 550
				// 	});
				// }
				// }, 500)
			},
			//handShopcarAdd 加加
			async handShopcarAdd(item) {
				const shopres = await shopcarAdd({
					count: 1,
					prodId: item.prodId,
					shopId: item.shopId,
					skuId: item.skuId,
				});
				this.getinit()


				// 	clearTimeout(this.timer) //清除延时器
				// 	this.timer = setTimeout(() => { //重新开启新的延时器
				// 		// console.log('请求接口', res)
				// 		item.prodCount = this.total;

				// 		//仓库加加
				// 		this.changeTotal()

				// 	}, 500)
			},
			
			//删除
			async handClearDel() {
				if (this.Allcheckbox.length > 0) {
					const res = await ShopcarDelete(this.Allcheckbox);
					console.log(res)
					this.getinit()
					uni.showToast({
						title: '您确定要删除吗？'
					})
				} else {
					uni.showToast({
						title: '删除失败，请重新删除'
					})
				}

			},
			//全选
			handShopCheckbox() {
				this.AllChecked = !this.AllChecked;
				if (this.AllChecked) {
					console.log('quanxuan');
					// this.Allcheckbox.length=0;
					this.shopcar.forEach(item => {
						this.Allcheckbox.push(item.basketId);
					})
				} else {
					this.Allcheckbox.length = 0;
				}
			},
			//单项
			checkDan(item) {
				// console.log(basketId,'basketId');
				//框的状态
				let i = this.Allcheckbox.indexOf(item.basketId);
				if (i === -1) {
					this.Allcheckbox.push(item.basketId);
				} else {
					this.Allcheckbox.splice(i, 1);
				}
				this.AllChecked = (this.Allcheckbox.length === this.shopcar.length)

				ShopcarTotab(this.Allcheckbox).then(res => {
					this.getinit()
					this.totalMoney = res.data.totalMoney
				
				})

			},
			//handShopcarClose  结算
			handShopcarClose() {
			
				//提交订单传的参数
				ShopcarOrder_Form({
					addrId: 0,
					basketIds: this.Allcheckbox,
					couponIds: [],
					userChangeCoupon: 1
				}).then(res => {
					console.log(res.data)
					this.shopCartOrder = res.data.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
					this.shopId=res.data.shopCartOrders[0].shopId;
					console.log()
					uni.navigateTo({
						url: `../../submit_order/pages/submit_order/submit_order?shopCartOrder=${JSON.stringify(this.shopCartOrder)}&&shopId=${res.data.shopCartOrders[0].shopId}&&actualTotal=${res.data.actualTotal}&&total=${res.data.total}&&totalCount=${res.data.totalCount}&&receiver=${res.data.userAddr.receiver}&&mobile=${res.data.userAddr.mobile}&&province=${res.data.userAddr.province}&&city=${res.data.userAddr.city}&&area=${res.data.area}&&addr=${res.data.userAddr.addr}`
					})
				})
				
				
					uni.showToast({
						title: '请选择商品'
					})
			
			},
			
			async getinit() {
				const res = await prodTagList()
				this.shopcar = res.data[0].shopCartItemDiscounts[0].shopCartItems || res.data[0].shopCartItemDiscounts[0].shopCartItems;
			},
		},

		created() {
			this.getinit()

			if (!uni.getStorageSync('access_token')) {
				this.isLogin()
			}


		},
		mounted() {
			// this.getinit()
		}


	}
</script>

<style lang="scss" scoped>
	//购物车最外面的盒子
	.handView {
		width: 100%;
		position: relative;
	}

	//购物车的数据列表
	.handShopcarListTotabl {
		width: 100%;
		height: 1000rpx;
		overflow: auto;
	}

	.handeshop {
		width: 100%;
		height: 95px;
		background: #ffff;
	}

	//handShopcarListTotabl 的每一条数据
	.handDl {

		width: 100%;
		height: 95px;
		background: #ffff;
		display: flex;
		// justify-content: left;
		align-items: center;
		border-bottom: 1px solid #eee;
		margin-left: 10px;
		margin-right: 10px;
	}

	.handcheckbox {
		border-radius: 50rpx;
	}

	.handimg {
		width: 70px;
		height: 70px;
	}

	.handuni-list {
		width: 80%;
	}


	.handdd {
		width: 480rpx;
		height: 80px;
		padding-left: 5px;

	}

	.chat-custom-text {
		font-size: 12px;
		color: #999;
		text-align: left;
		margin-top: 20px;
		width: 100px;
	}

	.handode {
		width: 452rpx;
		height: 25px;
		display: flex;
		justify-content: space-between;
		padding-top: 10px;

	}

	.handAddLow {
		width: 70px;
		height: 25px;
		display: flex;
	}

	.shopcarLow {
		width: 20px;
		height: 22px;
		font-size: 12px;
		border: 1px solid #ccc;
		line-height: 20px;
		text-align: center;
	}

	.shopcarAdd {
		width: 20px;
		border: 1px solid #ccc;
		text-align: center;
	}

	.shopcarinput {
		width: 20px;
		height: 19px;
		border: 1px solid #ccc;
		text-align: center;
		padding-left: 2rpx;
		font-weight: 100;
		font-size: 12px
	}

	.handtext {
		color: #eb2444;
		font-size: 12px;

	}

	.handfooter {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
	}

	.handFooterButton {
		width: 250rpx;
		height: 40px;
		background-color: #eb2444;
		color: #fff;
		line-height: 40px;
		font-size: 14px;
	}

	.handcheckboxAll {
		width: 200rpx;
		font-size: 12px;
		text-align: center;
	}

	.handFooterdel {
		width: 100rpx;
		color: #eb2444;
		font-size: 12px;
	}

	.handHeji {
		width: 200rpx;
		font-size: 12px;
	}

	.handHeji span {
		color: #ea3351;
	}
</style>
