<template>
    <view>
        <view class="uni-padding-wrap">
            <view class="uni-title" @click="open" v-if="item">{{item.province}}-{{item.city}}-{{item.area}}</view>
			<view class="uni-title" @click="open" v-else>{{year}}-{{month}}-{{day}}</view>
        </view>
		<uni-popup :mask-click="false" ref="popup" background-color="#fff">
			<picker-view v-if="visible" :indicator-style="indicatorStyle" :value="value" @change="bindChange" class="picker-view">
				<picker-view-column>
			        <view class="item" v-for="(item,index) in years" :key="index">{{item.areaName}}</view>
			    </picker-view-column>
			    <picker-view-column>
			        <view class="item" v-for="(item,index) in months" :key="index">{{item.areaName}}</view>
			    </picker-view-column>
			    <picker-view-column>
			        <view class="item" v-for="(item,index) in days" :key="index">{{item.areaName}}</view>
			    </picker-view-column>
			</picker-view>
			<button @click="close">确定</button>
		</uni-popup>
		<!-- {{}} -->
    </view>
</template>
<script>
	import {Province,
			City,
			Community} from '../../api/address.js'
    export default {
		props:{
			item:{
				
			}
		},
		
        data: function () {
            const date = new Date()
            const years = []
            const year = date.getFullYear()
            const months = []
            const month = date.getMonth() + 1
            const days = []
            const day = date.getDate()
            return {
                title: 'picker-view',
                years,
                year:'北京市',
                months,
                month:'直辖市',
                days,
                day:'东城区',
                value: [9999, month - 1, day - 1],
                visible: true,
                indicatorStyle: `height: 50px;`,
				sheng:[],
				shi:[],
				qu:[],
				areaId:1,
				provinceId:1,
				cityId:1,
            }
        },
		async mounted() {
			let sheng = await Province({pid:0})
			let shi = await City({pid:110000000000})
			let qu = await Community({pid:110100000000})
			// console.log(sheng,'sheng');
			// console.log(shi,'shi');
			// console.log(qu,'qu');
			this.years= sheng.data;
			this.months = shi.data;
			this.days = qu.data;
			
		},
		created() {
			// console.log(item,'plitem')
		},
		onReady() {},
        methods: {
			open() {
						this.$refs.popup.open('bottom')
					},
					close() {
						this.$refs.popup.close()
					},
            bindChange: function (e) {
				// console.log( e.detail.value,' e.detail.value')
                const val = e.detail.value;
				this.years.map(async(item,index)=>{
					if(index===val[0]){
						console.log(item,"item");
						let shi = await City({pid:item.areaId});
						this.months=shi.data
						this.year = item.areaName
						this.provinceId = item.areaId
					}
				})
				this.months.map(async(item,index)=>{
					if(index===val[1]){
						// console.log(item.areaName,"item");
						let qu = await Community({pid:item.areaId});
						this.days=qu.data
						this.month = item.areaName
						this.cityId = item.areaId
					}
				})
                this.days.map((item,index)=>{
                	if(index===val[2]){
                		// console.log(item.areaName,"item");
                		this.day = item.areaName
						this.areaId = item.areaId
                	}
                })
				// 向父组件传值
				this.$emit('place',
					{
						province:this.year,
						city:this.month,
						area:this.day,
						provinceId:this.provinceId,
						cityId:this.cityId,
						areaId:this.areaId,
						addr:'犄角格拉',
						userType:0
					});
            }
        }
    }
</script>
<style lang="scss">
	.header{
		width:100%;
		// background: red;
		.yes{
			float: right;
		}
	}
	.picker-view {
		width: 750rpx;
		height: 300rpx;
		margin-top: 20rpx;
	}
	.item {
		height: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.uni-padding-wrap{
		line-height: 36px;
	}
</style>