<template>
	<view>
		<!-- 外层 -->
		<div class='ShopCarSubmit_order'>
			<!-- 头部 新增收获地址       点击地址跳到地图页-->
			<div class='handSubmit'  >
				<p>
					<img src="../../../static/Shopti.png" alt="" @click='HandAAddress'>
					<span @click='handeShouhuo'>{{receiver}}</span>&emsp; <span>{{mobile}}</span>
					
				</p>
				<p>
					<span>{{province}} {{city}}  {{addr}}</span>
				</p>
				<!-- <uni-icons type="forward" size="20"></uni-icons> -->
			</div>
			<!-- //body -->
			<div class='List'>
				<!-- 列表 -->
				<div class='shopSubmitBody' v-for="(item,index) in shopCartOrder" :key="index">
					<dl class='handDl'>
						<dt><img class='handimg' :src="item.pic" alt="">
						</dt>
						<dd class='handdd'>
							<text>{{item.prodName}}</text>
							<view class="handode">
								<text class="handtext">${{item.price}}</text></text>
								<text class="handAddLow">x 2</text>

							</view>

						</dd>
					</dl>

				</div>
				<div class='handHe'>

					<p class='hep'>
						共 {{totalCount}} 件商品&emsp;合计：<span>￥{{actualTotal}}</span>
					</p>
				</div>
				<!-- 优惠券 -->
				<div class='handDiscounts'>
					<p>
						<span>优惠券</span>：<span>暂无使用</span>
					</p>
					<div>
						<span class='handYouhuiZhang'>0 张</span>
						<uni-icons type="forward" size="20"></uni-icons>
					</div>
				</div>
				<!-- 买家留言 -->
				<div class='handshopLeave'>
					<p>
						<span>买家留言</span>：<span>给卖家留言</span>
					</p>
				</div>
				<!-- 订单总额 -->
				<div class='handSubmitTotab'>
					<p>
						<span>订单总额：</span>
					</p>
					<div>
						<span class='handSubTotab'>￥ {{actualTotal}}</span>

					</div>
				</div>
				<!-- 运费 -->
				<div class='handSubmitFreight'>
					<p>
						<span>运费：</span>
					</p>
					<div>
						<span class='handSubFreightTotab'>￥0.00</span>

					</div>
				</div>
				<!-- 优惠金额 -->
				<div class='handSubmitCoupon'>
					<p>
						<span>优惠金额：</span>
					</p>
					<div>
						<span class='handSubCouponTotab'>-￥0.00</span>

					</div>
				</div>
				<!-- 小计 -->
				<div class='handSubmitSubtotal'>
					<p></p>
					<div>
						<span class='handSubSubtotalTotab'>小计:￥{{actualTotal}}</span>
					</div>

				</div>


			</div>
		</div>

		<!-- 脚部 合计 -->
		<div class='hanSubmitTotal'>
			<p>
				<span>合计：</span><span>￥{{total}}</span>
			</p>
			<button @click="ShopcarSubmit">提交订单</button>
	
		</div>
	</view>
</template>

<script>
	import {

		ShopSumbit, //提交
		ShopPay //结算
	} from '@/api/shopcar.js'
	export default {
		data() {
			return {
				shopId: null,
				shopCartOrder: [],
				total: 0,
				actualTotal: 0,
				totalCount: 0,
				receiver: '',
				mobile:'',
				province: '',
				
				city: '',
				addr: ''
			}
		},
		methods: {
			//提交   返回订单号
			async ShopcarSubmit() {
				const res = await ShopSumbit({
					orderShopParam: [{
						remarks: "",
						shopId: this.shopId
					}]
				});
				console.log(res.data.orderNumbers, 'sumbit')
				//订单支付接口，返回支付的参数
				const ShopPayres = await ShopPay({
					orderNumbers: res.data.orderNumbers,
					payType: 1
				})
				console.log(ShopPayres, 'pay')
				//唤起微信支付的时候 需要这些参数
				uni.requestPayment({
					timeStamp: ShopPayres.data.timeStamp,
					nonceStr: ShopPayres.data.nonceStr,
					package: ShopPayres.data.packageValue,
					paySign: ShopPayres.data.paySign,
					signType: ShopPayres.data.signType,
					success: (res) => {
						console.log(res, '成功')
						uni.navigateTo({
							url: '../../pages/success_order/success_order'
						})
					},
					fail: (err) => {
						console.log(err, '失败')
						uni.showToast({
							title: "订单已过期，请重新下单"
						})
						uni.navigateTo({
							url: '../../pages/fail_order/fail_order'
						})
					}
				})
			},
			//收获地址 跳转
			handeShouhuo(){
				console.log(1111)
				uni.navigateTo({
					url: '../../../shippingaddresspkg/pages/shippingaddress/shippingaddress'
				})
			},
		
			//跳转到地图页 
			HandAAddress(){
				uni.navigateTo({
					url: '../../pages/address_order/address_order'
				})
			}

		},
		mounted() {},
		onLoad(option) {
			this.shopCartOrder = JSON.parse(option.shopCartOrder)
			this.shopId = option.shopId;
			this.total = option.total;
			this.actualTotal = option.actualTotal;
			this.totalCount = option.totalCount
			this.receiver = option.receiver;
			this.mobile=option.mobile;
			this.province = option.province;
			this.city = option.city;
			this.area = option.area;
			this.addr = option.addr
		}
	}
</script>
<style lang="scss" scoped>
	//最外层的
	.ShopCarSubmit_order {
		width: 100%;
		height: 1050rpx;
		overflow: auto;
	}

	.List {
		width: 100%;
	}

	//头部 新增收获地址
	.handSubmit {
		width: 100%;
		height:50px;
		padding-left: 10px;
		border-bottom: 1px solid #eee;
		background-color: #fff;
	}

	.handSubmit uni-icons {
		padding-right: 5px;
		color: #9e9c9c;
	}

	.handSubmit p {
		width: 300rpx;
		height: 20px;
		text-align: center;
		font-size: 12px;
		display: flex;
		img {
			padding-right: 5px;
			width: 40rpx;
			height: 40rpx;
		}
	}

	//脚部  合计样式
	.hanSubmitTotal {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		border-top: 1px solid #eee;
		background-color: #fff;

		p {
			width: 542rpx;
			font-size: 12px;
			padding-left: 10px;
		}

		button {
			background-color: #eb2444;
			color: #fff;
			border: 1px solid #eb2444;
			font-size: 12px;
			height: 40px;
			line-height: 40px;
		}
	}

	//列表
	.shopSubmitBody {
		width: 100%;
		height: 120px;
		background: #ffff;
	}

	.handDl {

		width: 100%;
		// height: 90px;
		background: #ffff;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eee;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		border-bottom: 1px solid #eee;
		// margin-bottom: 20px;
	}

	.handcheckbox {
		border-radius: 50rpx;
	}

	.handimg {
		width: 70px;
		height: 70px;
	}

	.handuni-list {
		width: 80%;
	}


	.handdd {
		width: 480rpx;
		height: 80px;
		padding-left: 10px;
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		align-items: center;
		font-size: 12px
	}


	.chat-custom-text {
		font-size: 12px;
		color: #999;
		text-align: left;
		margin-top: 20px;
		width: 100px;
	}

	.handode {
		width: 452rpx;
		height: 25px;
		display: flex;
		justify-content: space-between;
		padding-top: 10px;

	}

	.handAddLow {
		width: 40px;
		height: 25px;
		display: flex;
		font-size: 12px;
		color: #9e9c9c;
	}

	.handtext {
		font-size: 12px;
	}

	.handHe {
		width: 100%;
		height: 30px;
		font-size: 12px;
		background-color: #fff;

		.hep {
			width: 180px;
			text-align: center;
			float: right;
			line-height: 30px;
		}
	}

	//优惠券
	.handDiscounts {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
		margin-top: 10px;
	}

	.handDiscounts uni-icons {
		padding-right: 5px;
		color: #9e9c9c;
	}

	.handDiscounts p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;

		// padding-left: 5px;
	}

	.handYouhuiZhang {
		color: #9e9c9c;
	}


	//买家留言handshopLeave
	.handshopLeave {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
		margin-top: 10px;
	}

	.handshopLeave p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 10px;
		// padding-left: 5px;
	}

	//订单总额
	.handSubmitTotab {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
		margin-top: 10px;
	}

	.handSubmitTotab p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding-left: -15px;
		padding-left: 10px;
	}

	.handSubTotab {
		color: #ea3351;
		padding-right: 10px;
	}

	//运费
	.handSubmitFreight {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
	}

	.handSubmitFreight p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding-left: -15px;
		padding-left: 10px;
	}

	.handSubFreightTotab {
		color: #ea3351;
		padding-right: 10px;
	}

	// 优惠金额
	.handSubmitCoupon {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
	}

	.handSubmitCoupon p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding-left: -15px;
		padding-left: 10px;
	}

	.handSubCouponTotab {
		color: #ea3351;
		padding-right: 10px;
	}

	//小计
	.handSubmitSubtotal {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		font-size: 12px;
	}

	.handSubmitCoupon p {
		width: 300rpx;
		text-align: center;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// padding-left: -15px;
		padding-left: 10px;
	}

	.handSubSubtotalTotab {
		color: #ea3351;
		padding-right: 10px;

	}
</style>
