<template>
	<view class="container">
		<!-- 头部搜索跳转模块 -->
		<home-search :isShow="isShow" :isCancel="isCancel"></home-search>
		<!-- 轮播图模块 -->
		<home-swiper :imgList="imgList"></home-swiper>
		<!-- nav导航模块 -->
		<home-nav></home-nav>
		<!-- 通知模块文字轮播模块 -->
		<view class="home-textSwiper">
			<image src="../../static/images/icon/horn.png" mode="" class="textSwiper-image"></image>
			<swiper vertical='true' autoplay='true' duration='1000' class="textSwiper-swiper">
				<swiper-item v-for="(item, index) in noticeList" :key="item.id" class="swiper-item">
					{{item.title}}
				</swiper-item>
			</swiper>
			<uni-icons type="right" size="15" @click="toLatestPage"></uni-icons>
		</view>
		<!-- 列表数据 -->
		<home-content :prodTagList="prodTagList" :ListByTag="ListByTag" :ListByTagTwo="ListByTagTwo" :ListByTagThree="ListByTagThree"></home-content>

		
	</view>
</template>

<script>
	// import TotalMixins from "@/mixins/index.js";//直播徽标
	import {
		getIndexImgs,
		getTopNoticeList,
		getProdTagList,
		getProdListByTagId,
		getProdListByTagIdTwo,
		getProdListByTagIdThree
	} from '../../api/home.js'
	// 引入SDK核心类，js文件根据自己业务，位置可自行放置
	var QQMapWX = require("@/utils/qqmap-wx-jssdk.js");
	export default {
		data() {
			return {
				imgList: [],
				noticeList: [],
				prodTagList: [],
				isShow: true,
				isCancel: true,
				ListByTag: [],
				ListByTagTwo: [],
				ListByTagThree: [],
				tagId:1,
				size:6,
				pages:0,
				qqmapsdk:{},
				da:""
			}
		},
		// mixins:[TotalMixins],//直播徽标
		async created() {
			this.getByTagIdList();
			let imgRes = await getIndexImgs();
			this.imgList = imgRes.data;
			let opNoticeRes = await getTopNoticeList();
			this.noticeList = opNoticeRes.data;
			let ProdTagRes = await getProdTagList();
			this.prodTagList = ProdTagRes.data;
			let resOne = await getProdListByTagId();
			this.ListByTag = resOne.data.records;
			let resTwo = await getProdListByTagIdTwo();
			this.ListByTagTwo = resTwo.data.records;
			
		},
		mounted() {},
		// 下拉刷新
		onPullDownRefresh(){
			console.log('下拉');
			this.tagId = 1;
			this.pages = 0;
			this.size = 3;
			this.ListByTagThree = [];
			this.getByTagIdList();
		},
		// 上拉加载
		onReachBottom(){
			if(this.tagId > this.pages){
			
				this.getByTagIdList();
			}else{
					console.log('暂无数据');
			}
		},
		methods: {
			async getByTagIdList(){
				let resThree = await getProdListByTagIdThree({
					tagId:this.tagId,
					size:this.size,
				});
				this.ListByTagThree = this.ListByTagThree.concat(resThree.data.records);
				this.pages = resThree.data.pages;
			},
			// 跳转 最新公告
			toLatestPage(){
				uni.navigateTo({
					url:"../../homepkg/pages/Latest/Latest"
				})
			}
		},
		onLoad() {
			// 实例化API核心类
			this.qqmapsdk = new QQMapWX({
				key: 'IJKBZ-UAYK3-DZT3P-3F7FC-WK6QQ-I3FDK'
			});
			uni.getLocation({
				type:"wgs84",
				success: () => {
					this.qqmapsdk.reverseGeocoder({
						success:(res)=>{
							console.log(res,'res111');
							let da = res.result.address;
							console.log(da,'da');
							this.da = da;
						}
					})
				}
			})
		}

	}
</script>

<style lang="scss">
	.container {
		font-size: 12px;
		background-color: #fff;
		.home-textSwiper {
			margin-top: 10px;
			height: 38px;
			display: flex;
			align-items: center;
			padding: 0 10px;
			.textSwiper-image {
				width: 77rpx;
				height: 36rpx;
			}

			.textSwiper-swiper {
				flex: 1;
				height: 100%;
				line-height: 38px;

				.swiper-item {
					height: 100%;
					font-weight: 800;
				}
			}
		}

	}
</style>
