<template>
	<view class="home-contentWrap">
		<view v-for="(item,index) in prodTagList" :key="item.id">
			<!-- 每日更新 -->
			<view class="blueBox"></view>
			<view class="content-dailyUpdate" v-if="item.style == 2">

				<view class="content-dailyUpdate-tit">
					<text>{{item.title}}</text>
					<text @click="toDailyPage">查看更多</text>
				</view>
				<view class="content-dailyUpdate-list">
					<view class="dailyUpdate-list-item" v-for="(item,index) in ListByTag" :key="item.prodId"
						@click="toDetails(item.prodId)">
						<image :src="(item.pic)" style="width: 100%;height: 93px;"></image>
						<text>{{item.prodName}}</text>
						<text><text>￥</text>{{item.price}}</text>
					</view>
				</view>
			</view>
			<!-- 商城热卖 -->
			<view class="content-shopMall" v-if="item.style == 1">
				<view class="content-shopMall-tit">
					<text>{{item.title}}</text>
					<view>
						<text @click="toShopMallPage" style="font-size: 10px;">更多</text>
						<uni-icons type="right" size="15"></uni-icons>
					</view>

				</view>
				<view class="content-shopMall-list">
					<view class="shopMall-list-item" v-for="(item,index) in ListByTagTwo" :key="item.prodId"
						@click="toDetails(item.prodId)">
						<image :src="(item.pic)" style="width: 133px;height: 130px;padding: 5px;"></image>
						<view style="padding-left: 5px;">
							<view class="item-name">{{item.prodName}}</view>
							<view class="describe">{{item.brief}}</view>
							<view class="item-price">
								<text>￥{{item.price}}</text>
								<image src="../../static/images/tabbar/basket-sel.png" mode=""></image>
							</view>
						</view>
					</view>
				</view>
			</view>
			<!-- 更多宝贝 -->
			<view class="content-baby" v-if="item.style == 0">
				<view class="content-baby-tit">
					<text>{{item.title}}</text>
				</view>
				<view class="content-baby-list">
					<view class="baby-list-item" v-for="(item,index) in ListByTagThree" :key="item.prodId"  @click="toDetails(item.prodId)">
						<view class="item-image">
							<image :src="(item.pic)"></image>
						</view>
						<view class="item-right">
							<view class="item-name">{{item.prodName}}</view>
							<view class="describe">{{item.brief}}</view>
							<view class="item-price">
								<text>￥{{item.price}}</text>
								<image src="../../static/images/tabbar/basket-sel.png" mode=""></image>
							</view>
						</view>
					</view>
				</view>
			</view>

		</view>
	</view>
</template>

<script>
	export default {
		name: "home-content",
		props: {
			prodTagList: {
				type: Array,
				default: []
			},
			ListByTag: {
				type: Array,
				default: []
			},
			ListByTagTwo: {
				type: Array,
				default: []
			},
			ListByTagThree: {
				type: Array,
				default: []
			}
		},
		data() {
			return {

			};
		},
		mounted() {},
		methods: {
			toDailyPage() {
				uni.navigateTo({
					url: "../../homepkg/pages/daily/daily"
				})
			},
			toShopMallPage() {
				uni.navigateTo({
					url: "../../homepkg/pages/shopMall/shopMall"
				})
			},
			// 跳详情
			toDetails(prodId) {
				uni.navigateTo({
					url: "../../detailpkg/pages/detail/detail?prodId=" + prodId
				})
			}
		}
	}
</script>

<style lang="scss">
	.home-contentWrap {
		margin-top: 10px;
		background-color: #fff;
padding: 0 10px;
		.blueBox {
			width: 100%;
			height: 150px;
			background-color: #3e99d7;
			position: absolute;
			left: 0;
			top: 338px;
		}

		.content-dailyUpdate {
			position: relative;
			z-index: 2;

			.content-dailyUpdate-tit {
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: #fff;

				text:nth-child(1) {
					font-size: 14px;
				}

				text:nth-child(2) {
					padding: 3px 10px;
					border-radius: 30%;
					background-color: #65addf;
				}

			}

			.content-dailyUpdate-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.dailyUpdate-list-item {
					width: 30%;
					border-radius: 5px;
					margin-bottom: 10px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
					padding-bottom: 5px;
					background-color: #fff;

					text:nth-child(2) {
						overflow: hidden;
						text-overflow: ellipsis;
						/* 将对象作为弹性伸缩盒子模型显示 */
						display: -webkit-box;
						/* 限制在一个块元素显示的文本的行数 */
						/* -webkit-line-clamp 其实是一个不规范属性，使用了WebKit的CSS扩展属性，该方法适用于WebKit浏览器及移动端；*/
						-webkit-line-clamp: 2;
						/* 设置或检索伸缩盒对象的子元素的排列方式 */
						-webkit-box-orient: vertical;
						padding-left: 5px;
						padding-top: 5px;
						font-size: 10px;
					}

					text:nth-child(3) {
						color: red;
						padding-left: 5px;
					}
				}
			}
		}

		.content-shopMall {
			.content-shopMall-tit {
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				text:nth-child(1) {
					font-size: 14px;
				}
			}

			.content-shopMall-list {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.shopMall-list-item {
					width: 48%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-bottom: 10px;
					margin-bottom: 10px;
					box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);

					.describe {
						font-size: 10px;
						color: #999;
					}

					.item-name {
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}

					.item-price {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-right: 5px;
						text {
							color: red;
						}

						image {
							width: 20px;
							height: 20px;
						}
					}

				}
			}
		}

		.content-baby {
			.content-baby-tit {
				height: 48px;
				line-height: 48px;
				font-size: 14px;
			}

			.baby-list-item {

				display: flex;
				margin-bottom: 10px;
				padding: 10px 0;
				border-bottom: 1px solid #f3f3f3;

				>image {
					margin-right: 10px;
				}

				.item-image {
					width: 106px;
					height: 106px;
					margin-right: 10px;

					image {
						width: 106px;
						height: 106px;
					}
				}

				.item-right {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 10px 0;
					width: 185px;

					.describe {
						font-size: 10px;
						color: #999;
					}

					.item-price {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding-right: 5px;
						text {
							color: red;
						}

						image {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}

	}
</style>
