<template>
	<view>
		<!-- 登录页面 -->
		<my-login></my-login>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			};
		},
		methods:{
			// 执行成功的事件  返回上一页
			// Loginsuccess(){
			// 	uni.navigateBack({
			// 		delta:1
			// 	})
			// }
		}
	}
</script>

<style lang="scss">

</style>
