<template>
	<view class="customer_wrap">
		<button type="primary" open-type="contact">开始聊天</button>
		<view class="ditu">
			<map style="width:100%;height:100%;" :latitude="latitude" :longitude="longitude" :scale="scale"
				:markers="marker" @markertap="toMap()">
				<!--此处踩坑问题1：
					@markertap 是点击地图上的标记点时 触发打开地图。
					@tap 是点击地图整体的时候 触发打开地图。
					-->
			</map>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				latitude: '', //纬度
				longitude: '', //经度
				marker: [{
					id: 0,
					latitude: '', //纬度
					longitude: '', //经度
					// title: '山东某某有限公司', //标注点名
					alpha: 1, //透明度
				}],
				scale: 14, //地图缩放程度
				address: ''
			};
		},

		methods: {
			//点击地图上的标记，打开手机内置地图
			toMap() {
				uni.getLocation({
					type: 'gcj02', //返回可以用于uni.openLocation的经纬度
					success: (res) => {
						this.latitude = res.latitude;
						this.longitude = res.longitude;
						uni.openLocation({
							latitude: this.latitude,
							longitude: this.longitude,
							success: () => {
								console.log('success');
							}
						});
					}
				});
				// console.log('点击地图')
				// uni.openLocation({
				// 	latitude: Number(this.latitude), //要去的纬度-地址
				// 	longitude: Number(this.longitude), //要去的经度-地址
				// 	address: this.address, //要去的具体地址

				// 	//此处踩坑的问题2：
				// 	//latitude 和 longitude的值一定要是number类型。
				// 	//所以传递的时候需要使用Number将其转换一下。
				// })
			},
		}
	}
</script>

<style lang="scss">
	.customer_wrap {
		width: 100%;
		height: 100%;

		.ditu {
			width: 100%;
			height: 565rpx;
		}
	}
</style>
