<template>
	<view class="address">
		<view class="main">
			<view class="address" v-if="alllist">
				<uni-list border-full v-for="item,index in alllist" :key="index">
					<uni-list-item 
						:title="item.receiver + ' 电话：'+item.mobile" 
						:note="item.province+item.city+item.area+item.addr"  
						rightText="编辑"
						 clickable  @click="onClick(item)"
					/>
				</uni-list>
			</view>
			<view class="tip" v-else>
				<img src="../../../static/images/icon/dot.png" alt="">
				<text>您还没有收货地址</text>
			</view>
		</view>
		<view class="newaddress" @click="editaddress">
			<text>新增收货地址</text>
		</view>
	</view>
</template>

<script>
	import {List} from '../../../api/address.js'
	import editaddress from '../../../editaddresspkg/pages/editaddress/editaddress.vue'
	// import navigateTo from 
	export default {
		components:{
			editaddress
		},
		data() {
			return {
				alllist:[],
				detailaddress:'',
				province:''
			};
		},
		async onLoad() {
			let res = await List()
			// console.log(res.data,'res');
			this.alllist =res.data;
		},
		 mounted(){
			// let address = uni.getStorage('address')
			// console.log(address,'address1');
			// console.log('list');
			
			// console.log(this.alllist.province,this.alllist.city,this.alllist.area);
			// this.detailaddress.push()
		},
		methods:{
			editaddress(){
				uni.navigateTo({
					url:'../../../editaddresspkg/pages/editaddress/editaddress'
				})
			},
			onClick(item){
				// 跳到编辑收货地址页面
				// console.log(item.addrId,'item1111');
				uni.bw_navigate({
				    url: "./../../../editgetpkg/pages/editget/editget",
				    params: {
						item:item.addrId
				    }
				})
			}
		}
	}
</script>

<style lang="scss">
	page{
		height: 100%;
		width: 100%;
		.address{
			height: 100%;
			width: 100%;
			.main{
				height: calc(100% - 3rem);
				width: 100%;
				.tip{
					height: 5rem;
					width: 100%;
					padding-top: 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					img{
						height: 3rem;
						width: 3rem;
					}
					text{
						font-size: 12px;
					}
				}
			}
			.newaddress{
				height: 3rem;
				width: 100%;
				background: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				color: red;
				font-size: 14px;
			}
		}
	}
</style>
