<template>
	<view class="detail">
		<div class='one'>
			<!-- 轮播图 -->
			<uni-swiper-dot class="uni-swiper-dot-box" @clickItem=clickItem :info="imgList" :current="current"
				:mode="mode" :dots-styles="dotsStyles">
				<swiper autoplay='true' duration='1000' class="swiper-box" @change="change"
					indicator-active-color="#ff0000">
					<swiper-item v-for="(item, index) in imgList" :key="index">
						<img :src="(item)" alt="">
					</swiper-item>
				</swiper>
			</uni-swiper-dot>
			<div class='title'>
				<p>{{detailList.prodName}}</p>
				<span>|</span>
				<view class="collect" @click="toCollection">
					<img v-if="!collectOpen" src="/static/images/icon/prod-col.png" alt="">
					<img v-if="collectOpen" src="/static/images/icon/prod-col-red.png" alt="">
					<span>收藏</span>
				</view>
			</div>
			<div class='txt'>
				<p>{{detailList.brief}}</p>
				<p><span>￥</span>{{detailList.price}}<span>.00</span></p>
			</div>
		</div>
		<!-- 已选 -->
		<div class='two' @click='todoShop'>
			<div>已选</div>
			<div>
				<p>
					{{chanceList.length>0?chanceList[0].skuName :''}}
				</p>
				<p>{{total}}件</p>
			</div>
			<div>
				<uni-icons type="more-filled" size="18" color=#A1A1A1></uni-icons>
			</div>
		</div>
		<!-- 评价 -->
		<view class="three" @click="toEvaluation">
			<div class="threeone">
				<div class='evaluation'>
					<p>评价</p>
					<span>好评{{evaluationlist.positiveRating}}%</span>
				</div>
				<div class='evaluationnum'>
					<p>共{{evaluationlist.number}}条</p>
					<span>
						<img src="/static/images/icon/more.png" alt="">
					</span>
				</div>
			</div>
			<view class="threetwo">
				<text>全部({{evaluationlist.number}})</text>
				<text>好评({{evaluationlist.praiseNumber}})</text>
				<text>中评({{evaluationlist.secondaryNumber}})</text>
				<text>差评({{evaluationlist.negativeNumber}})</text>
				<text>有图({{evaluationlist.picNumber}})</text>
			</view>
		</view>
		<!-- 商品详情 富文本--- -->
		<view class="detailtext">
			<rich-text :nodes="content"></rich-text>
		</view>
		<!-- 点击添加购物车 -->
		<view class="uni-container">
			<uni-goods-nav :options="options" :fill="true" :button-group="buttonGroup" @click="onClick"
				@buttonClick="buttonClick" />
		</view>
		<!-- 加入购物车遮罩层 -->
		<view class="toshop" v-show="clickShop">
			<view class="toshopzzc">
				<view class="toshopimg">
					<view class="imgone">
						<img :src="detailList.pic" alt="">
					</view>
					<view class="imgtwo">
						<p>
							<span>￥</span>
							<span>{{detailList.price}}</span>
							<span>.00</span>
						</p>
						<p>
							<span>已选</span>
							<span>{{total}}件</span>
						</p>
					</view>
					<view class="imgthree">
						<p @click='toClose'>X</p>
					</view>
				</view>
				<!-- <view class="version"></view>
				<view class="color"></view>
				<view class="memory"></view> -->
				<view class="numbers">
					<view>
						<p>数量</p>
					</view>
					<view>
						<p @click='toMenu'>-</p>
						<span>{{total}}</span>
						<p @click='toAdd'>+</p>
					</view>
				</view>
				<view class="shopbtn">
					<button class="todoShop" @click="addShop">加入购物车</button>
					<button class="toBut" @click="justBuy">立即购买</button>
				</view>
			</view>
		</view>
		<!-- 点击评价 -->
		<view class="estimate" v-show="toEstimate">
			<view class="estimateone">
				<view class="estimateleft">
					<p>商品评价</p>
					<p>好评度{{evaluationlist.positiveRating}}%</p>
				</view>
				<view class="estimateright">
					<p @click='toClose'>X</p>
				</view>
			</view>
			<view class="estimatetwo">
				<text>全部({{evaluationlist.number}})</text>
				<text>好评({{evaluationlist.praiseNumber}})</text>
				<text>中评({{evaluationlist.secondaryNumber}})</text>
				<text>差评({{evaluationlist.negativeNumber}})</text>
				<text>有图({{evaluationlist.picNumber}})</text>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getprodInfo, //详情数据
		gettoShop, //点击加入购物车数据
		getevaluation, //评价数据
		getCollect, //点击是否收藏
		getBuy, //点击立即购买
	} from '@/api/detail.js';
	import {
		mapState,
		mapMutations,
		mapActions
	} from 'vuex';

	export default {
		data() {
			return {
				imgList: [], //图片数据
				detailList: [], //信息数据
				chanceList: [], //已选数据
				content: [], //富文本数据
				prodId: '',
				toshop: false, //加入购物车
				toEstimate: false, //点击评价打开框
				evaluationlist: [], //评价数据
				clickShop: false,
				arr: [],
				collectOpen: false,
				num: 1,
				mode: 'round',
				dotsStyles: {
					backgroundColor: "#fff",
					selectedBackgroundColor: '#ff0000',
					selectedBorder: ""
				},
				current: 0,
				swiperDotIndex: 0,

				options: [{
						icon: 'chat',
						text: '客服'
					},
					{
						icon: 'cart',
						text: '购物车',
						info: 1
					}
				],
				buttonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #FFCD1E, #FF8A18)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
						color: '#fff'
					}
				],
			};
		},
		created() {
			this.isLogin()
		},
		onLoad() {},
		mounted() {},
		//计算属性
		computed: {
			//展开运算符，把...后边的这个对象循环遍历放在这个新的对象里面
			...mapState("toshop", ['total'])
		},
		watch: {
			total: {
				handler: function(newval, oldval) {
					this.options[1].info = newval;
				},
				immeditate: true
			}
		},
		methods: {
			toEvaluation() {
				this.toEstimate = true;
			},
			...mapMutations("toshop", ['changeTotal', 'minusTatal']),
			...mapActions('user', ['isLogin']),
			// 获取传过来的数据
			async onLoad(option) {
				// 数据
				let res = await getprodInfo({
					prodId: option.prodId
				})
				this.detailList = res.data; //商品数据
				this.imgList = res.data.imgs.split(','); //轮播图
				this.chanceList = res.data.skuList; //已选
				this.content = res.data.content.replace(/\<img/gi,
					'<img style="width: 100%;height:250px;" $1'); //rich-text				// 评价
				let res1 = await getevaluation({
					prodId: option.prodId
				})
				this.evaluationlist = res1.data; // 评价数据
			},
			change(e) {
				this.current = e.detail.current
			},
			//点击收藏
			async toCollection() {
				// console.log('1');
				let res = await getCollect({
					params: this.detailList.prodId,
				}).then(() => {
					this.collectOpen = !this.collectOpen
				})
				if (this.collectOpen) {
					uni.showToast({
						title: '收藏成功',
						duration: 750
					});
				}
				if(this.collectOpen===false)
				{
					uni.showToast({
						title: '取消成功',
						duration: 750
					});
				}

			},
			//底部购物车
			onClick(e) {
				//点击购物车
				console.log(e.index)
				if (e.index == 1) {
					uni.switchTab({
						url: "../../../pages/shopcar/shopcar"
					})
				} else if (e.index === 0) {
					uni.navigateTo({
						url: '../customer/customer',
					})
				}

			},
			buttonClick(e) {
				// 点击加入购物车弹出遮罩层
				if (e.index == 0) {
					this.clickShop = true;
				}
				//点击立即购买 跳转到提交订单页
				if (e.index === 1) {
					let res = getBuy({
						addrId: 0,
						couponIds: [],
						orderItem: {
							prodId: this.detailList.prodId,
							skuId: this.detailList.skuList[0].skuId,
							prodCount: this.total,
							shopId: this.detailList.shopId
						},
						userChangeCoupon: 1
					})
					uni.navigateTo({
						url: '/submit_order/pages/submit_order/submit_order?detailList=' + encodeURIComponent(JSON
							.stringify(this.detailList)),
					})
				}
			},
			//购物车 点击+
			toAdd() {
				this.changeTotal()
			},
			//购物车 点--
			toMenu() {
				// console.log(this.total)
				if (this.total > 1) {
					this.minusTatal();
				} else {
					this.total = 1;
					uni.showToast({
						title: '不能再减啦',
						duration: 750
					});
				}
			},
			//点击X,隐藏遮罩层
			toClose() {
				this.clickShop = false;
				this.toEstimate = false;
			},
			//点击 已选view
			todoShop() {
				this.clickShop = true;
			},
			//点击遮罩层里面的加入购物车
			async addShop() {
				console.log(this.detailList)
				let res = await gettoShop({
					params: {
						basketId: 0,
						count: this.total,
						prodId: this.detailList.prodId,
						shopId: this.detailList.shopId,
						skuId: this.detailList.skuList[0].skuId
					}
				})
				// console.log(res)
				uni.showToast({
					title: '加入购物车成功',
					duration: 750
				})
			},
		},
	}
</script>

<style lang="scss" scoped>
	.one {
		background-color: #fff;

		.swiper-box {
			height: 375px;

			swiper-item {
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.title {
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			padding: 0 10px;

			p {
				width: 75%;
			}

			span:nth-of-type(1) {
				margin-left: 5px;
				margin-right: 20px;
				color: #A1A1A1;
			}

			.collect {
				display: flex;
				flex-direction: column;

				img {
					width: 20px;
					height: 20px;
					padding-left: 5px;
				}

				span {
					font-size: 10px;
				}
			}
		}

		.txt {
			width: 100%;
			height: 70px;
			padding: 0 10px;

			p:nth-of-type(1) {
				width: 100%;
				height: 20px;
				font-size: 12px;
				color: #A1A1A1;
			}

			p:nth-of-type(2) {
				width: 100%;
				height: 50px;
				font-size: 22px;
				line-height: 50px;
				color: red;
				padding-left: 5px;

				span {
					font-size: 15px
				}
			}
		}
	}

	.two {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		background-color: #fff;
		display: flex;
		align-items: center;
		padding: 0 10px;
		margin-bottom: 10px;

		div:nth-of-type(1) {
			width: 10%;
			height: 100%;
			// text-align: center;
			line-height: 40px;
			font-size: 11px;
			color: #A1A1A1;
		}

		div:nth-of-type(2) {
			width: 70%;
			height: 100%;
			line-height: 40px;
			display: flex;

			p {
				font-weight: bold;
				font-size: 14px;
				padding-right: 9px;
			}
		}

		div:nth-of-type(3) {
			width: 20%;
			height: 100%;
			text-align: center;
			line-height: 40px;
		}
	}

	.three {
		width: 100%;
		height: 100px;
		background-color: #fff;
		display: flex;
		flex-direction: column;

		.threeone {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #EDEDED;
			padding: 0 10px;
			background-color: #fff;

			.evaluation {
				display: flex;

				p {
					font-size: 16px
				}

				span {
					color: red;
					font-size: 12px;
					margin-left: 5px;
					margin-top: 4px;
				}
			}

			.evaluationnum {
				display: flex;
				padding-right: 20px;
				font-size: 12px;

				p {
					margin-top: 3px;
				}

				img {
					width: 20px;
					height: 20px;
					margin-left: 5px;
				}
			}
		}

		.threetwo {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: #fff;

			text {
				width: 50px;
				background-color: #fdf0f0;
				height: 20px;
				font-size: 13px;
				text-align: center;
				line-height: 20px;
			}
		}
	}

	.detailtext {
		width: 100%;
		height: 320px;
		margin-top: 10px;
	}

	// .detailtext p {
	// 	width: 100% !important;
	// 	height: 250px !important;
	// }

	// .detailtext rich-text img {
	// 	width: 100% !important;
	// 	height: 250px !important;
	// }

	.uni-container {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	.toshop {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		position: fixed;
		top: 0;
		left: 0;

		.toshopzzc {
			width: 100%;
			height: 76%;
			background-color: #fff;
			position: absolute;
			bottom: 0;

			.toshopimg {
				width: 100%;
				height: 20%;
				background-color: #fff;
				display: flex;

				.imgone {
					width: 30%;
					height: 100%;

					img {
						width: 100px;
						height: 100px;
						position: absolute;
						left: 10px;
						top: -20px;
					}
				}

				.imgtwo {
					width: 60%;
					height: 100%;

					p:nth-of-type(1) {
						padding-top: 10px;
						padding-bottom: 10px;
						color: red;
						padding-left: 10px;

						span:nth-of-type(1) {
							display: inline-block;
							font-size: 12px;
						}

						span:nth-of-type(2) {
							display: inline-block;
							font-size: 17px;
						}

						span:nth-of-type(3) {
							display: inline-block;
							font-size: 12px;
						}
					}

					p:nth-of-type(2) {
						padding-left: 10px;

						span:nth-of-type(1) {
							display: inline-block;
							font-size: 12px;
							color: #A1A1A1;
							padding-right: 8px;
						}

						span:nth-of-type(2) {
							display: inline-block;
							font-size: 12px;
						}
					}
				}

				.imgthree {
					position: absolute;
					right: 0;
					padding-right: 10px;
					padding-top: 10px;
					color: #A1A1A1;
					font-weight: bold;
				}
			}

			.version {
				width: 100%;
				height: 18%;
				background-color: #ccc;
			}

			.color {
				width: 100%;
				height: 18%;
				background-color: lightpink;
			}

			.memory {
				width: 100%;
				height: 18%;
				background-color: #ccc;
			}

			.numbers {
				width: 100%;
				height: 10%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				view:nth-of-type(1) {
					padding-left: 7px;
					font-size: 13px;
					color: #A1A1A1;
				}

				view:nth-of-type(2) {
					display: flex;
					// align-items: center;
					margin-right: 7px;

					p {
						width: 25px;
						height: 25px;
						line-height: 25px;
						background-color: #EDEDED;
						// border: none;
						border-radius: 0px;
						text-align: center;
						color: #A1A1A1;
						font-size: 30px;
					}

					span {
						width: 40px;
						height: 25px;
						background-color: #EDEDED;
						text-align: center;
						font-size: 12px;
						line-height: 25px;
						margin-left: 1px;
						margin-right: 1px;
					}
				}
			}

			.shopbtn {
				width: 100%;
				height: 11%;
				background-color: oldlace;
				position: absolute;
				bottom: 0;
				display: flex;

				button {
					width: 50%;
					height: 100%;
					border-radius: 0px;
					color: #fff;
					font-size: 14px;
					text-align: center;
					line-height: 50px;
				}

				.todoShop {
					background-color: #584e61;
				}

				.toBut {
					background-color: #eb2444;
				}
			}
		}
	}

	.estimate {
		width: 100%;
		height: 100%;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;

		.estimateone {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #EDEDED;

			.estimateleft {
				display: flex;
				padding-left: 10px;

				p:nth-of-type(2) {
					font-size: 12px;
					margin-left: 10px;
					color: red;
					margin-top: 2px;
				}
			}

			.estimateright {
				padding-right: 10px;

			}
		}

		.estimatetwo {
			display: flex;
			justify-content: space-around;
			margin-top: 15px;

			text {
				width: 15%;
				height: 25px;
				background-color: #FAF0E6;
				font-size: 12px;
				line-height: 25px;
				text-align: center;
				border-radius: 3px;
				color: #584e61;
			}

			text:hover {
				background-color: #FF3030;
				color: #fff;
			}
		}
	}
</style>
