<template>
	<view>
		<uni-forms ref="form" :modelValue="formData" :rules="rules">
			<uni-forms-item label="姓名" name="name">
				<uni-easyinput type="text" v-model="formData.name" :modelValue="editlist.receiver" />
			</uni-forms-item>
			<uni-forms-item label="手机号码" name="phone">
				<uni-easyinput type="text" v-model="formData.phone" :modelValue="editlist.mobile" />
			</uni-forms-item>
			<uni-forms-item label="所在地区" name="place" class="diqu">
				<simple-address ref="simpleAddress" :pickerValueDefault="cityPickerValueDefault" @place="onConfirm"
					themeColor='#007AFF' :item="editlist" >
				</simple-address>
			</uni-forms-item>
			<uni-forms-item label="详细地址" name="addr">
				<uni-easyinput type="text" v-model="formData.addr" :modelValue="editlist.addr" />
			</uni-forms-item>
		</uni-forms>
		<button type="warn" class="save" @click="submit">保存收货地址</button>
		<button type="warn" class="del" @click="delBtn">删除收货地址</button>
	</view>
</template>

<script>
	import simpleAddress from "@/components/simpleAddress/simpleAddress.vue";
	import {edityes,Del,editlist} from '../../../api/address.js'
	export default {
		components: {
			simpleAddress,
			receiver:'',
		},
		data() {
			return {
				item:{},
				cityPickerValueDefault: [0, 0, 1], //弹框的初始值
				pickerText: '',
				// address: '北京市-市辖区-西城区', //初始值
				// 表单数据
				formData: {
					name: '',
					addr:'',
					phone:''
				},
				province:'',
				city:'',
				area:'',
				provinceId:1,
				cityId:1,
				areaId:1,
				year:'北京市',
				month:'直辖市',
				day:'东城区',
				editlist:{}
			};
		},
		onLoad({item}) {
			// console.log(JSON.parse(item.addrId) ,'item');
			// console.log(JSON.parse(item) ,'options编辑收货地址');
			this.item = item;
			// console.log(this.item,'this.province');
		},
		async mounted(){
			// console.log(item,'item');
			let res = await editlist(this.item)
			// console.log(res.data,'editlist');
			this.editlist = res.data;
			// this.$emit('sonaddress',this.item)
		},
		methods: {
			// 删除收货地址
			delBtn(){
				// console.log('删除收货地址',this.item);
				// this.item.
				uni.showModal({
					title: '警告',
					content: '确定要删除此收货地址吗？',
					cancelText: "取消", // 取消按钮的文字  
					confirmText: "确认", // 确认按钮文字 
					confirmColor:'#F54E40',//确认字体的颜色
					cancelColor:'#000',//取消字体的颜色
					success: async (res) =>{
						if (res.confirm) {
							console.log('用户点击确定',this.item);
							await Del(this.item)
							uni.navigateBack({
								delta:1
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
						}
					}
				});
			},
			// 收货地址
			openAddres() {
				this.$refs.simpleAddress.open();
			},
			onConfirm(e) {
				this.pickerText = JSON.stringify(e); //这个步骤只是为了让大家看到返回的数据
				this.address = e.areaName; //把选择的地址回显到input框中
				this.province = e.province;
				this.city = e.city;
				this.area = e.area;
				this.provinceId = e.provinceId;
				this.cityId = e.cityId;
				this.areaId = e.areaId;
				// console.log(this.province,this.city,this.area,this.provinceId,'aaaa');
			},
			// bindTextAreaBlur: function(e) {
			// 	console.log(e.detail.value,'e.detail.value')
			// },
			/**
			 * 复写 binddata 方法，如果只是为了校验，无复杂自定义操作，可忽略此方法
			 * @param {String} name 字段名称
			 * @param {String} value 表单域的值
			 */
			// binddata(name,value){
			// 通过 input 事件设置表单指定 name 的值
			//   this.$refs.form.setValue(name, value)
			// },
			// 触发提交表单
			submit() {
				this.$refs.form.validate().then(res => {
					// console.log(res,'resresresres');
					// console.log('77表单数据信息：', this.editlist);
					edityes({
						receiver: res.name,
						mobile: res.phone,
						addr:res.addr,
						province: this.editlist.province,
						city:this.editlist.city,
						area:this.editlist.area,
						provinceId:this.editlist.provinceId,
						cityId:this.editlist.cityId,
						areaId:this.editlist.areaId,
						addrId:this.editlist.addrId
					});
					uni.navigateTo({
						url:'/shippingaddresspkg/pages/shippingaddress/shippingaddress'
					});
				}).catch(err => {
					console.log('表单错误信息：', err);
				})
			}
		}
	}
</script>

<style lang="scss">
	.save {
		width: 40%;
		font-size: 14px;
	}
	.del{
		width: 40%;
		font-size: 14px;
		margin-top: 10px;
	}

	.title {
		font-size: 14px;
		font-weight: bold;
		margin: 20px 0 5px 0;
	}

	.data-pickerview {
		height: 400px;
		border: 1px #e5e5e5 solid;
	}

	.popper__arrow {
		top: -6px;
		left: 50%;
		margin-right: 3px;
		border-top-width: 0;
		border-bottom-color: #EBEEF5;
	}

	.popper__arrow {
		top: -6px;
		left: 50%;
		margin-right: 3px;
		border-top-width: 0;
		border-bottom-color: #EBEEF5;
	}

	page {
		background-color: #f1f1f1;
	}

	/* 提示 */
	.mind {
		color: #ccc;
		font-size: 24upx;
		margin: 3%;
	}

	text {
		margin: 1%;
	}

	/* 所在地区 */
	.update-message {
		background-color: #fff;
		height: 95upx;
		line-height: 95upx;
		font-size: 32upx;
		display: flex;
		border-bottom: 2upx solid #e4e4e4;
	}

	/* 文字 */
	.update-text {
		flex: 3;
		text-align: center;
	}

	/* 右侧input框 */
	.update-input {
		flex: 7;
		display: flex;
		padding: 3.5%;
	}

	/* 箭头 */
	.jt {
		height: 30upx;
		width: 30upx;
		margin: auto;
		margin-right: 20upx;
	}

	/* 详情 */
	.detail {
		background-color: #fff;
		width: 100%;
		height: 200upx;
		padding: 2%;
	}
</style>
