<template>
	<view class='live'>
		<!-- 直播数据渲染 -->
		<dl v-for="item,index in list" :key="index">
			<dt>
				<img :src="item.feeds_img" alt="">
			</dt>
			<dd class='one'>开播：时间-时间</dd>
			<dd class='two'>{{item.name}}</dd>
			<dd class='three'>
				<p>主播</p>
				<p>{{item.anchor_name}}</p>
			</dd>
		</dl>
	</view>
</template>

<script>
	import TotalMixins from "@/mixins/index.js";
	import {
		request
	} from '@/utils/httprequest.js';
	export default {
		data() {
			return {
				list: [],
			};
		},
		mixins: [TotalMixins],
		mounted() {
			uni.request({
				url: "https://sign.jasonandjay.com/broadcast/room",
			}).then((res) => {
				console.log(res[1].data.data.room_info, '直播数据');
				this.list = res[1].data.data.room_info;
			})
		},
	}
</script>

<style lang="scss" scoped>
	.live {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		dl {
			width: 45%;
			height: auto;
			background-color: #fff;
			margin-bottom: 20px;
			margin-top: 20px;
			border-radius: 10px;

			dt {
				img {
					width: 100%;
					height: 180px;
					border-radius: 10px;
				}
			}
			.one {
				font-size: 12px;
				color: 	#C2C2C2;
			}
			.two{
				font-size: 20px;
			}
			.three{
				display: flex;
				align-items: center;
				p:nth-of-type(1){
					width: 40px;
					height: 40px;
					background-color: antiquewhite;
					border-radius: 50%;
					line-height: 40px;
					text-align: center;
					color: 	#EEB422;
				}
			}
		}
	}
</style>
