<template>
	<view class="form">
		<uni-forms ref="valiForm" :rules="rules" :modelValue="valiFormData">
					<uni-forms-item label="手机号" required name="phone">
						<uni-easyinput v-model="valiFormData.phone" placeholder="请输入手机号码" />
					</uni-forms-item>
					<uni-forms-item label="验证码" required name="code" class="yzm">
						<uni-easyinput v-model="valiFormData.code" placeholder="请输入验证码" />
						<button type="primary" plain="true" class="getcode" @click="getCode">获取验证码</button>
					</uni-forms-item>
				</uni-forms>
				<button type="primary" @click="submit('valiForm')">提交</button>
	</view>
</template>

<script>
	import {GetCode} from '../../../api/binding.js'
	export default {
		data() {
			return {
				// 校验表单数据
				valiFormData: {
					phone: '',
					code: '',
				},
				// 校验规则
				rules: {
					phone: {
						rules: [{
							required: true,
							errorMessage: '手机号不能为空'
						},]
					},
					code: {
						rules: [{
							required: true,
							errorMessage: '验证码不能为空'
						}]
					}
				},
			};
		},
		computed: {
			// 处理表单排列切换
			alignment() {
				if (this.current === 0) return 'left'
				if (this.current === 1) return 'top'
				return 'left'
			}
		},
		onLoad() {},
		// onReady() {
		// 	// 设置自定义表单校验规则，必须在节点渲染完毕后执行
		// 	this.$refs.customForm.setRules(this.customRules)
		// },
		methods: {
			// onClickItem(e) {
			// 	console.log(e);
			// 	this.current = e.currentIndex
			// },
			// add() {
			// 	this.dynamicLists.push({
			// 		label: '域名',
			// 		rules: [{
			// 			'required': true,
			// 			errorMessage: '域名项必填'
			// 		}],
			// 		id: Date.now()
			// 	})
			// },
			// del(id) {
			// 	let index = this.dynamicLists.findIndex(v => v.id === id)
			// 	this.dynamicLists.splice(index, 1)
			// },
			getCode(){
				// console.log(this.valiFormData.phone,'phone');
				let params ={mobile: this.valiFormData.phone};
				console.log(params,'mobile');
				let res = GetCode(params);
				console.log(res,'resgetcode');
			},
			submit(ref) {
				this.$refs[ref].validate().then(res => {
					console.log('success', res);
					uni.showToast({
						title: `校验通过`
					})
				}).catch(err => {
					if(err){
						uni.showModal({
							title:'发送短信失败，请稍后再试'
						})
						uni.reLaunch({
							url: "/pages/my/my"
						})
						console.log('err', err);
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	page{
		height: 100%;
		width: 100%;
		.form{
			height: 100%;
			width: 100%;
			.segmented-control {
				margin-bottom: 15px;
			}

			.button-group {
				margin-top: 15px;
				display: flex;
				justify-content: space-around;
			}

			.form-item {
				display: flex;
				align-items: center;
			}
			.getcode{
				height: 2rem;
				width: 50%;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 0;
			}

			.button {
				display: flex;
				align-items: center;
				height: 35px;
				margin-left: 10px;
			}
		}
	}
	
</style>
