<template>
	<view class="latest_wrap">
		<view class="latest-listItem" v-for="(item,index) in list" :key="item.id" @click="toDetailsInfo(item.id)">
			<view class="">
				{{item.title}}
			</view>
			<view class="">
				{{item.publishTime}}
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getTopNoticeList,
	} from '@/api/home.js'
	export default {
		data() {
			return {
				list: [],
			};
		},
		async created() {
			let res = await getTopNoticeList();
			this.list = res.data;
		},
		methods: {
			// 跳转详情页
			toDetailsInfo(id) {
				console.log(id,'id---------');
				uni.navigateTo({
					url: '../LatesDetail/LatesDetail?id=' + id,
				})
			}
		}
	}
</script>

<style lang="scss">
	.latest_wrap {
		height: 100%;
		background-color: #fff;
		font-size: 12px;
		padding: 0 10px;

		.latest-listItem {
			padding: 15px 0;
			border-bottom: 1px solid #f3f3f3;

			view:nth-child(2) {
				text-align: right;
				color: #999;
				margin-top: 10px;
			}
		}
	}
</style>
